@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap');

.header{
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  a{
    margin: 0px 10px;
    padding: 10px 0;
    font-family: 'Cormorant Garamond';
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.4em;
    &:active{
      color: grey;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  .rightSideHeader{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    a{
      font-size: 30px;
      padding: 0;
      margin: 0;
    }
    img{
      height: 30px;
    }
  }
}