@import './Mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap');


.contactMe{
    width: calc(50vw + 20px);
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    form{
        border-radius: 5px;
        background-color: white;
        color: rgb(207, 114, 129);
        padding: 10px;
        .inputItems{
            font-size: 25px;
            display: grid;
            text-align: left;
            width: 60vw;
            h3{
                margin: 0;
                padding: 0;
                font-weight: 100;
            }
            input{
                font-family: 'Cormorant Garamond';
                border: none;
                border-bottom: 1px solid black;
                font-size: 30px;
                font-weight: bold;
                width: 100%;
                &::placeholder{
                    color: lightgray
                }
            }
            select{
                font-family: 'Cormorant Garamond';
                font-weight: bold;
                border: none;
                border-bottom: 1px solid black;
                font-size: 23px;
            }
            option{
                font-weight: bold;
            }
        }
    }
}